        <a id="top" name="top"></a>
        <div class="top"><a href="javascript:smaller();">[-]</a><a href="javascript:larger();">[+]</a> <a href="http://Tea.com/demos">demo@Tea</a></div>
        <div class="header"><strong>Tea </strong><span class="boldy">RESTful API </span> demo. Class used - <strong><span class="file"><a href="http://www.Tea.com/documentation/api/">TeaRestClient</a></span></strong><br/>
      </div>
	  ...<br/>
	  <div class="nav">
	  	<ul>
			<li><a href="{{baseurl}}index.php/about">About@</a></li>
			<li><a href="{{baseurl}}index.php/url">URL Links@</a></li>
			<li><a href="{{baseurl}}index.php/example">Example Usage@</a></li>
		</ul>
	  </div>